<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      MARI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <div class="ion-padding">
    <p class="text-center">
      Use o botão para pedir ajuda!
    </p>
    <ion-button size="large" expand="block" color="primary">Pedir ajuda!</ion-button>
  </div>

  <div class="ion-padding">
    <ion-button expand="block" color="primary" [routerLink]="'/lista-de-pessoas-confiaveis'">Pessoas confiáveis</ion-button>
    <ion-button expand="block" color="primary" (click)="comecarAOuvir()">Começar a ouvir</ion-button>
    <ion-button expand="block" color="primary" (click)="pararDeOuvir()">Parar de ouvir</ion-button>
  </div>

  <ion-card>
    <ion-card-header>Áudios gravados</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let audio of audiosCapturados">
          {{ audio }}
        </ion-item>
      </ion-list>  
    </ion-card-content>
  </ion-card>
</ion-content>
